@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

html,
body {
  position: relative;
  overflow: hidden; }

.web {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto; }
  .web header {
    background-color: #b20000;
    text-align: center;
    width: 100%;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 0;
    position: absolute;
    top: 0rem; }
    .web header .list_box {
      display: inline-block;
      font-size: 0.6rem;
      height: 1.8rem;
      margin-left: 0.4rem; }
      .web header .list_box i {
        font-size: 0.6rem; }
    .web header .function_box {
      display: inline-block;
      height: 1.8rem;
      vertical-align: middle; }
      .web header .function_box .icon_box {
        height: 1.8rem;
        width: 0.92rem;
        margin-right: 0.3rem;
        line-height: 1.8rem; }
        .web header .function_box .icon_box i {
          font-size: 0.92rem;
          width: 100%; }
    .web header .logo_box {
      display: block;
      margin: 0 auto;
      font-size: 0.92rem;
      width: 5.32rem; }
      .web header .logo_box img {
        width: 100%; }
    .web header i {
      color: #fff;
      font-size: 0.92rem; }
  .web section {
    width: 100%;
    position: absolute;
    top: 1.8rem;
    bottom: 2.04rem;
    overflow-y: auto;
    background-color: #f5f5f5; }
    .web section .post_box {
      padding: 0 0.6rem;
      box-sizing: border-box;
      background-color: white; }
      .web section .post_box:not(:last-of-type) {
        margin-bottom: 0.5rem; }
      .web section .post_box:last-of-type::after {
        content: "加载更多";
        display: block;
        height: 1.2rem;
        text-align: center;
        line-height: 1.2rem;
        font-size: 0.44rem;
        font-family: microsoft yahei;
        color: #c5c5c5;
        border-top: 1px solid #f5f5f5;
        background-color: #fff; }
  .web footer {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #bbb9ba;
    width: 100%; }
    .web footer ul {
      padding: 0.3rem 0 0.24rem;
      background-color: #f5f5f5; }
      .web footer ul li {
        width: 20%;
        text-align: center;
        position: relative; }
        .web footer ul li a {
          display: block;
          line-height: 0.6rem;
          color: #8b8b8b; }
          .web footer ul li a.active {
            color: #b20000; }
          .web footer ul li a i {
            font-size: 0.76rem;
            line-height: normal; }
          .web footer ul li a p {
            font-size: 0.36rem;
            line-height: normal; }
        .web footer ul li:not(:last-child)::after {
          content: "";
          display: block;
          width: 1px;
          height: 1rem;
          background-color: #c5c5c5;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%); }
  .web .search_web {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 1;
    background-color: #f5f5f5;
    transition: .3s; }
    .web .search_web .search_bar {
      width: 100%;
      height: 1.8rem;
      background-color: #1e1e1e;
      line-height: 1.8rem;
      position: relative; }
      .web .search_web .search_bar label {
        width: 2rem;
        position: absolute;
        right: 0.3rem;
        text-align: right;
        font-size: 0.532rem;
        color: white; }
      .web .search_web .search_bar form {
        display: inline-block;
        height: 0.9rem;
        position: absolute;
        top: 50%;
        left: 0.3rem;
        transform: translateY(-50%);
        width: 85%;
        line-height: 0; }
        .web .search_web .search_bar form .bar {
          line-height: 0.9rem;
          height: 0.9rem;
          width: 100%;
          border-radius: 0.6rem;
          border: 0;
          outline: 0;
          border: 1px solid white;
          background-color: transparent;
          color: white;
          padding: 0 1rem;
          box-sizing: border-box; }
        .web .search_web .search_bar form input[type=image] {
          position: absolute;
          left: 0.3rem;
          width: 0.6rem;
          top: 50%;
          transform: translateY(-50%); }
    .web .search_web .tags {
      padding: 0.6rem;
      box-sizing: border-box; }
      .web .search_web .tags p {
        font-size: 0.532rem;
        color: #323232;
        font-family: microsoft yahei; }
      .web .search_web .tags .tag {
        font-size: 0.56rem;
        color: #8b8b8b;
        background-color: #fff;
        border: 0.02rem solid #c5c5c5;
        padding: 0.26rem 0.34rem;
        margin: 0.22rem 0.22rem 0 0; }
      .web .search_web .tags #match {
        display: none; }
        .web .search_web .tags #match .match {
          color: #323232;
          font-family: microsoft yahei;
          padding: 0.3rem;
          box-sizing: border-box;
          background-color: #fff;
          margin-bottom: 0.3rem;
          height: 5.12rem; }
          .web .search_web .tags #match .match h3 {
            font-size: 0.52rem;
            margin-bottom: 0.5rem; }
          .web .search_web .tags #match .match p {
            font-size: 0.44rem;
            height: 2.4rem;
            margin-bottom: 0.4rem; }
          .web .search_web .tags #match .match span {
            font-size: 0.36rem;
            margin-right: 0.4rem; }
  .web #search_web_ctl {
    display: none; }
    .web #search_web_ctl:checked + .search_web {
      left: 0; }
  .web #login_web_ctl {
    display: none; }
    .web #login_web_ctl:checked + .login_web {
      left: 0; }
  .web .login_web {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.95);
    transition: .3s;
    overflow-x: hidden; }
    .web .login_web .search_bar {
      width: 100%;
      height: 1.8rem;
      line-height: 1.8rem;
      position: relative; }
      .web .login_web .search_bar label {
        width: 1rem;
        position: absolute;
        left: 0.2rem; }
        .web .login_web .search_bar label i {
          font-size: 1rem;
          color: #b20000;
          width: 0.8rem;
          height: 0.8rem;
          border-radius: 50%; }
      .web .login_web .search_bar form {
        display: inline-block;
        height: 0.9rem;
        position: absolute;
        top: 50%;
        right: 0.3rem;
        transform: translateY(-50%);
        width: 75%;
        line-height: 0; }
        .web .login_web .search_bar form .bar {
          line-height: 0.9rem;
          height: 0.9rem;
          width: 100%;
          border-radius: 0.6rem;
          border: 0;
          outline: 0;
          border: 1px solid white;
          background-color: transparent;
          color: white;
          padding: 0 1rem;
          box-sizing: border-box; }
        .web .login_web .search_bar form input[type=image] {
          position: absolute;
          left: 0.3rem;
          width: 0.6rem;
          top: 50%;
          transform: translateY(-50%); }
    .web .login_web .form {
      display: none; }
      .web .login_web .form .login_logo {
        display: block;
        width: 2.96rem;
        margin: 3.78rem auto 1rem; }
      .web .login_web .form form {
        padding: 0 1.4rem;
        box-sizing: border-box; }
        .web .login_web .form form div {
          width: 100%;
          margin-bottom: 0.34rem;
          font-size: 0;
          position: relative; }
          .web .login_web .form form div .login_icon_box {
            width: 1.2rem;
            height: 1.1rem;
            position: relative;
            background-color: #303030;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 0;
            position: absolute;
            left: 0;
            top: 0; }
            .web .login_web .form form div .login_icon_box img {
              width: 45%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              display: block; }
          .web .login_web .form form div input {
            vertical-align: top;
            height: 1.1rem;
            box-sizing: border-box;
            width: 100%;
            background-color: #3d3d3d;
            border: none;
            padding: 0 0.5rem 0 1.96rem;
            color: white;
            outline: none;
            font-size: 0.4rem; }
        .web .login_web .form form .q_section {
          text-align: right; }
          .web .login_web .form form .q_section .icon-wenhao {
            font-size: 0.4rem;
            color: white; }
          .web .login_web .form form .q_section a {
            font-size: 0.39rem;
            color: white; }
        .web .login_web .form form input[type="submit"] {
          width: 100%;
          background-color: #b20000;
          color: white;
          font-size: 0.48rem;
          border: none;
          height: 1.1rem; }
        .web .login_web .form form .link_register {
          display: inline-block;
          line-height: 1.1rem;
          text-align: center;
          width: 100%;
          background-color: #303030;
          color: #cdcdcd;
          font-size: 0.48rem;
          border: none;
          height: 1.1rem;
          border: 0.02rem solid #b20000;
          box-sizing: border-box; }
    .web .login_web .unlogin {
      height: 6.84rem;
      width: 100%;
      text-align: center;
      font-size: 0;
      position: relative;
      border-bottom: 0.5rem solid #323232; }
      .web .login_web .unlogin .unlogin_avatar {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        margin: 0 auto 0.5rem;
        padding-top: 1.7rem; }
        .web .login_web .unlogin .unlogin_avatar img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .web .login_web .unlogin button {
        -webkit-appearance: none;
        /* To gain control over the appearance on WebKit */
        -moz-appearance: none;
        /* To gain control over the appearance on Gecko */
                /* To gain control over the appearance on Presto (Opera) and Trident (IE)
Note that it also work on Gecko and has partial effects on WebKit */
        background: none;
        display: block;
        margin: 0 auto;
        font-size: 0.5rem;
        border: none;
        color: white;
        font-family: microsoft yahei;
        margin-bottom: 0.2rem;
        outline: none; }
        .web .login_web .unlogin button:active {
          color: #b20000; }
      .web .login_web .unlogin a {
        display: inline-block;
        margin: 0 auto;
        font-size: 0.4rem;
        color: #323232;
        text-decoration: underline;
        outline: none; }
    .web .login_web .logined {
      height: 7.84rem;
      width: 100%;
      text-align: center;
      font-size: 0;
      border-bottom: 0.5rem solid #323232;
      display: none; }
      .web .login_web .logined .login_avatar {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        margin: 0 auto 0.5rem;
        padding-top: 0.6rem;
        position: relative; }
        .web .login_web .logined .login_avatar .notion {
          position: absolute;
          right: 0;
          width: 0.7rem;
          height: 0.7rem;
          border-radius: 50%;
          background-color: #b20000;
          color: white;
          font-size: 0.4rem;
          text-align: center; }
        .web .login_web .logined .login_avatar img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .web .login_web .logined h3 {
        font-size: 0.5rem;
        text-align: center;
        color: white;
        font-family: microsoft yahei; }
        .web .login_web .logined h3 a {
          display: inline-block;
          color: white;
          font-size: 0.28rem;
          border: 0.02rem solid white;
          padding: 0 0.2rem;
          box-sizing: border-box;
          font-weight: normal;
          margin-left: 0.2rem; }
      .web .login_web .logined ul li {
        display: inline-block;
        margin: 0.2rem 0.1rem; }
        .web .login_web .logined ul li i {
          color: #eeca02;
          font-size: 0.44rem; }
      .web .login_web .logined .favorites {
        width: 60%;
        margin: 0 auto;
        font-size: 0; }
        .web .login_web .logined .favorites .follow,
        .web .login_web .logined .favorites .fan {
          display: inline-block;
          width: 45%;
          color: white;
          font-size: 0.46rem;
          padding: 0 0.2rem;
          box-sizing: border-box; }
          .web .login_web .logined .favorites .follow span,
          .web .login_web .logined .favorites .fan span {
            color: #b20000;
            margin-left: 0.2rem; }
        .web .login_web .logined .favorites .follow {
          text-align: right;
          border-right: 0.02rem solid #323232; }
        .web .login_web .logined .favorites .fan {
          text-align-last: left; }
      .web .login_web .logined .btn_group {
        width: 9.2rem;
        margin: 0 auto;
        position: relative;
        margin-top: 0.4rem; }
        .web .login_web .logined .btn_group .btn_favorite,
        .web .login_web .logined .btn_group .btn_publish {
          display: inline-block;
          width: 4.4rem;
          height: 1rem;
          line-height: 1rem;
          border-radius: 0.5rem;
          color: white;
          font-size: 0.46rem; }
        .web .login_web .logined .btn_group .btn_favorite {
          background-color: #b20000;
          position: absolute;
          left: 0; }
        .web .login_web .logined .btn_group .btn_publish {
          background-color: #cdcdcd;
          position: absolute;
          right: 0; }
    .web .login_web nav {
      padding: 0.6rem;
      box-sizing: border-box; }
      .web .login_web nav ul {
        width: 100%; }
        .web .login_web nav ul li {
          position: relative;
          width: 100%; }
          .web .login_web nav ul li:last-of-type > h3 {
            border-bottom: none; }
          .web .login_web nav ul li h3 {
            display: inline-block;
            width: 100%;
            height: 1.8rem;
            line-height: 1.8rem;
            text-align: left;
            color: white;
            font-size: 0.46rem;
            border-bottom: 0.02rem solid #323232; }
          .web .login_web nav ul li span {
            display: inline-block;
            height: 1.8rem;
            vertical-align: middle;
            line-height: 1.8rem;
            text-align: center;
            color: white;
            font-size: 0.46rem;
            position: absolute;
            right: 0; }
          .web .login_web nav ul li ul {
            width: 100%;
            text-align: center; }
            .web .login_web nav ul li ul li {
              width: 100%; }
              .web .login_web nav ul li ul li a {
                display: inline-block;
                width: 80%;
                height: 1.8rem;
                line-height: 1.8rem;
                text-align: center;
                color: white;
                font-size: 0.46rem;
                border-bottom: 0.02rem solid #323232; }
    .web .login_web button {
      width: 3.64rem;
      height: 1.04rem;
      border: none;
      background-color: #b20000;
      color: white;
      font-size: 0.46rem;
      border-radius: 0.52rem;
      outline: none;
      display: block;
      margin: 0 auto;
      display: none; }

section .banner {
  width: 100%;
  height: 3.52rem; }
  section .banner img {
    width: 100%;
    height: 3.52rem;
    object-fit: cover; }
section input[type=radio] {
  display: none; }
section #about:checked ~ .tabs > #about_tab {
  background-color: #b20000;
  color: white; }
section #team:checked ~ .tabs > #team_tab {
  background-color: #b20000;
  color: white; }
section #goal:checked ~ .tabs > #goal_tab {
  background-color: #b20000;
  color: white; }
section #about:checked ~ .about_article {
  display: block; }
section #team:checked ~ .team_article {
  display: block; }
section #goal:checked ~ .goal_article {
  display: block; }
section .tabs {
  padding-top: 0.1rem;
  font-size: 0;
  background-color: #fff; }
  section .tabs label {
    display: inline-block;
    width: 33.3%;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    font-size: 0.52rem;
    font-family: microsoft yahei;
    color: #323232;
    background-color: #f5f5f5;
    border-bottom: 0.02rem solid #dfdfdf; }
section article {
  margin-top: 0.2rem;
  background-color: #fff;
  font-size: 0.4rem;
  padding: 0.5rem;
  box-sizing: border-box;
  color: #8b8b8b;
  display: none; }
  section article::after {
    content: "加载更多";
    display: block;
    height: 1.2rem;
    text-align: center;
    line-height: 1.2rem;
    font-size: 0.44rem;
    font-family: microsoft yahei;
    color: #c5c5c5;
    border-top: 1px solid #f3f3f3; }
  section article p {
    text-indent: 1rem;
    margin-bottom: 0.5rem; }
  section article video {
    display: block;
    width: 100%;
    padding: 0.6rem 0;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 0.34rem; }
  section article table {
    width: 100%;
    border-collapse: collapse; }
    section article table tr {
      width: 100%;
      height: 2.2rem; }
      section article table tr:first-of-type {
        height: 1.6rem;
        background-color: #b20000;
        color: white;
        font-size: 0.6rem; }
      section article table tr th {
        position: relative; }
        section article table tr th .icon-plus-circle {
          position: absolute;
          left: 0.5rem;
          font-size: 0.8rem; }
        section article table tr th .icon-rili {
          position: absolute;
          right: 0.5rem;
          font-size: 0.8rem; }
      section article table tr td {
        position: relative; }
        section article table tr td h3 {
          margin-left: 1.6rem;
          font-size: 0.632rem;
          color: #323232; }
        section article table tr td p {
          margin-left: 1.6rem;
          margin-bottom: 0;
          font-size: 0.4rem;
          color: #b20000;
          text-indent: 0; }
        section article table tr td .icon-dot {
          display: block;
          font-size: 0.6rem;
          color: #d9e2e4;
          border: 0.06rem solid #d9e2e4;
          width: 0.56rem;
          height: 0.56rem;
          border-radius: 50%;
          line-height: 0.7rem;
          position: absolute;
          top: 50%;
          left: 0.56rem;
          transform: translateY(-50%);
          background-color: white; }
          section article table tr td .icon-dot::before {
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); }
        section article table tr td::before {
          content: "";
          display: block;
          width: 0;
          height: 2.2rem;
          border-right: 0.08rem solid #d9e2e4;
          position: absolute;
          left: 0.86rem;
          top: 0; }
      section article table tr:not(:first-of-type):nth-of-type(odd) {
        background-color: #f3f3f3; }
        section article table tr:not(:first-of-type):nth-of-type(odd) td .icon-dot {
          background-color: #f3f3f3;
          color: #b20000;
          border-color: #b20000; }

/*# sourceMappingURL=about.css.map */
